body {
	background-color:#e3e3e3;
}

#thepost {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-radius: 25px;
	word-wrap: break-word;
	background-color: #FFD07B;
	padding:20px;
}

.apost {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-radius: 25px;
	background-color: #ADD8E6;
	padding:20px;
	word-wrap: break-word;
	margin:10px;
}

.bpost {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-radius: 25px;
	background-color: #FFD07B;
	padding:20px;
	word-wrap: break-word;
	margin:10px;
}

#comments {
	text-align:center;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#navbar {
	margin:20px;
	text-align:center;
	width:50%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color: #aaaaaa;
}

.comment {
	width:50%;
	text-align:center;
	background-color: #add8e6;
	margin:10px;
	padding:20px;
	word-wrap: break-word;
	margin-auto;
	border-radius: 25px;
}

form {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	display:block;
} 

a {
	display: inline-block;
    width: 150px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}